<h1>My tasks</h1>
<% @tasks.each do |task| %>
  <% if task.completed %>
    <input type="checkbox" checked>
  <% else %>
    <input type="checkbox">
  <% end %>
  <%= link_to task.title, task_path(task) %>
  <%= link_to "Delete", task_path(task), method: :delete, data: {confirm: "Are you sure?"} %>
  <br>
<% end %>

<p><%= link_to "Add a new task", new_task_path %></p>

