<h1><%= @task.title %></h1>
<div class="details"><%= @task.details %></div>
<% if @task.completed %>
  <br><input type="checkbox" checked>
  This task is completed
<% else %>
  <br><input type="checkbox">
  This task is not completed yet
<% end %>

<p><%= link_to "Back to list", tasks_path %></p>
